name: Quality Checks

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - "*"
    tags:
      - "*"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: false

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Display Go version
        run: go version

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -cover -v ./...
